.primary-color {
  color: #a8917f;
}

.body {
  div {
    font-family: Lora;
  }
}

.product-name {
  font-size: 18px;
  font-weight: 600;
}

.highlighted {
  font-size: 18px;
}

.btm-text {
  color: #383838;
  font-size: 16px;
}

.rrp-tag {
  font-size: 12px;
  color: #898989;
}
